<html>
<head>
    <script type="text/javascript" src="/js/get.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        t Email: <b id="email">#{email}</b> | <a type="button" href="/logout">Logout</a>
    </div>

    <div>
        <h2> Assignments </h2>
        <div id="assignments"></div>
    </div>
    <br>
    <div>
        t (Results not showing? Check the submissions <a href="/upload">queue</a>.)
    </div>

    <script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>

