<html>
<head>
    <script type="text/javascript" src="/js/get.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        t Email: <b id="email">#{email}</b> | <a type="button" href="/logout">Logout</a>
    </div>
    p Results for assignment <b id="asgn">#{asgn}</b>.
    <div id="results">
    </div>
    <br>
    <a href="/"> back home </a>

    <script type="text/javascript" src="/js/results.js"></script>
</body>
</html>

