<html>
<head>
    <script type="text/javascript" src="/js/get.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div>
        t Email: <b id="email">#{email}</b> | <a type="button" href="/logout">Logout</a>
    </div>
    p Submitting for assignment <b id="asgn">#{link}</b>.
    <form action="/upload/#{link}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload"><br>
        <input type="submit" disabled>
    </form>
    <a href="/"> back home </a>

    <script type="text/javascript" src="/js/upload.js"></script>
</body>
</html>

